@import 'mixins';

.header_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 672px;
}

.header_nav {
    display: flex;
    gap: 35px;
    align-items: center;
}

.header_social {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    position: relative;

    img {
        padding-top: 3px;
    }
}

.logotext {
    font-family: "Jost";
    font-size: 20px;
    color: rgba(212, 212, 212, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

.navtext,
.navtext1 {
    font-family: "Jost";
    font-size: 18px;
    color: rgba(212, 212, 212, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

.header {
    width: 100%;
    background-color: rgba(30, 63, 68, 1);
}

.socialMenu {
    position: absolute;
    top: 15px;
    right: 22%;
    display: flex;
    gap: 10px;
    background-color: rgba(212, 212, 212, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.socialLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

@media (max-width: 2300px) {
    .socialMenu {
        right: 10%;
    }
}

@media (max-width: 1850px) {
    .socialMenu {
        right: 5%;
    }
}

@media (max-width: 1600px) {
    .socialMenu {
        right: 0;
    }
}

@media (max-width: 1400px) {
    .header_div {
        gap: 300px;
    }
}

@media (max-width: 1050px) {
    .header_div {
        gap: 150px;
    }
}