.footer_con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 63, 68, 1);
    border-top: 14px solid rgba(57, 53, 47, 1);
    height: 126px;
    gap: 330px;
}

.footer_n {
    display: flex;
    gap: 55px;
}

.commerce {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 63, 68, 1);
    padding: 15px;

    p {
        font-family: "Jost";
        font-size: 14px;
        color: rgba(212, 212, 212, 1);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.logotext {
    font-family: "Jost";
    font-size: 20px;
    color: rgba(212, 212, 212, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

.footer_nav {
    font-family: "Jost";
    font-size: 18px;
    color: rgba(212, 212, 212, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 1000px) {
    .footer_con {
        gap: 100px;
    }

    .footer_n {
        display: flex;
        gap: 35px;
    }
}

@media (max-width: 800px) {
    .footer_con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 620px;
        gap: 40px;
    }

    .footer_n {
        gap: 15px;
        display: contents;
    }

}