.banner_div {
    background-image: url(../../../public/assets/images/bannerbg.svg);
    background-size: cover;
    background-position: 0 1000px;
    width: 100%;
    height: 1000px;
}

.banner_flex {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    gap: 100px;
}

.banner_text {
    text-align: center;
    padding-top: 200px;
    transform: translateY(100px); 
    transition: transform 0.5s ease-in-out; 
    opacity: 0; 

    h2 {
        font-family: "Rubik bold";
        font-size: 54px;
        color: rgba(212, 212, 212, 1);
        letter-spacing: 2px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.banner_stext {
    display: flex;
    justify-content: center;
    gap: 30px;
    transform: translateY(100px); 
    transition: transform 0.5s ease-in-out; 
    opacity: 0;

    p {
        font-family: "Rubik medium";
        font-size: 24px;
        color: rgba(193, 193, 193, 1);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.banner_sstext {
    display: flex;
    gap: 20px;
    padding-left: 0px;
    transform: translateY(100px); 
    transition: transform 0.5s ease-in-out; 
    opacity: 0;

    p{
        width: 300px;
        height: 300px;
        font-family: "Rubik medium";
        font-size: 24px;
        color: rgba(193, 193, 193, 1);
        background-image: url(../../../public/assets/images/stext.svg);
        background-size: cover;
        padding-top: 110px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.linkWrapper {
    margin-top: 0;
}

.link {
    font-family: "Rubik medium";
    font-size: 24px;
    color: rgba(193, 193, 193, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 25px;
    background-color: rgb(30,63,68);
    border-radius: 30px;
    position: relative;
    transition: all 0.2s ease-in-out;
    border: 8px solid rgb(57,53,47);
    background: radial-gradient(circle, rgba(182, 182, 182, 0.2) 55%, rgb(30,63,68) 100%);
    opacity: 0;

    &:after {
        content: '';
        background-image: url(../../../public/assets/images/arrow.svg);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        height: 15px;
        margin-top: 1px;
        width: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &:hover:after {
        opacity: 1;
    }

    &:hover {
        padding-right: 32px;
        color: rgb(255, 255, 255);
    }
}

.textVisible {
  transform: unset; 
  opacity: 1; 
}

.linkVisible {
    opacity: 1 !important;
    transform: translateY(0);
}

.name {
  transform: translateY(100px);
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}

.nameVisible {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1850px) {
    .banner_flex {
        gap: 0;
    }

    .banner_text {
        padding-top: 100px;
    }

    .banner_sstext {
        flex-direction: column;
        gap: 0;

        p {
            height: auto;
            background-image: none;
            padding-top: 30px;
        }

        p:nth-child(1) {
            padding-top: 80px;
        }
    }

    .linkWrapper {
        margin-top: 80px;
        width: 300px;
    }
}

@media (max-width: 1250px) {
    .banner_img {
        display: none;
    }

    .banner_sstext {
        flex-direction: row;
        gap: 20px;

        p {
            background-image: url(../../../public/assets/images/stext.svg);
            height: 300px;
            padding-top: 110px;
        }

        p:nth-child(1) {
            padding-top: 110px;
        }
    }

    .linkWrapper {
        margin-top: 0px;
        width: 100%;
    }

    .banner_div {
        height: 700px;
        background-position: 0 700px;
        background-size: cover;
    }
}

@media (max-width: 800px) {
    .banner_text {
        h2 {
            font-family: "Rubik bold";
            font-size: 45px;
            color: rgba(212, 212, 212, 1);
            letter-spacing: 2px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .banner_stext {
        gap: 10px;
        p {
            font-family: "Rubik medium";
            font-size: 20px;
            color: rgba(193, 193, 193, 1);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .linkWrapper {
        margin-top: 100px;
        width: 100%;
    }

    .banner_sstext {
        p{
            width: 100%;
            height: 100%;
            font-family: "Rubik medium";
            font-size: 20px;
            color: rgba(193, 193, 193, 1);
            background-image: none;
            background-size: cover;
            padding-top: 80px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }

        p:nth-child(1) {
            width: 100%;
            height: 100%;
            font-family: "Rubik medium";
            font-size: 20px;
            color: rgba(193, 193, 193, 1);
            background-image: none;
            background-size: cover;
            padding-top: 80px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

@media (max-width: 500px) {
    .banner_text {
        h2 {
            font-family: "Rubik bold";
            font-size: 40px;
            color: rgba(212, 212, 212, 1);
            letter-spacing: 2px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .banner_stext {
        p {
            font-family: "Rubik medium";
            font-size: 18px;
            color: rgba(193, 193, 193, 1);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .banner_sstext {
        flex-direction: column;
        gap: 5px;
        p{
            width: 100%;
            height: 30px;
            font-family: "Rubik medium";
            font-size: 18px;
            color: rgba(193, 193, 193, 1);
            background-image: none;
            background-size: cover;
            padding-top: 50px;
            margin-top: 5px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }

        p:nth-child(1) {
            width: 100%;
            height: 30px;
            font-family: "Rubik medium";
            font-size: 18px;
            color: rgba(193, 193, 193, 1);
            background-image: none;
            background-size: cover;
            padding-top: 50px;
            margin-top: 5px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .link {
        font-family: "Rubik medium";
        font-size: 20px;
        color: rgba(193, 193, 193, 1);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 15px;
        background-color: rgb(30,63,68);
        border-radius: 30px;
        position: relative;
        transition: all 0.2s ease-in-out;
        border: 6px solid rgb(57,53,47);
        background: radial-gradient(circle, rgba(182, 182, 182, 0.2) 55%, rgb(30,63,68) 100%);
        opacity: 0;
    
        &:after {
            content: '';
            background-image: url(../../../public/assets/images/arrow.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            height: 15px;
            margin-top: 1px;
            width: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    
        &:hover:after {
            opacity: 1;
        }
    
        &:hover {
            padding-right: 32px;
            color: rgb(255, 255, 255);
        }
    }
}