.cards {
    background-color: rgba(88, 106, 108, 1);
    justify-content: center;
    height: 1800px;
    padding-top: 20px;

    h2 {
        font-family: "Rubik bold";
        font-size: 40px;
        color: rgba(212, 212, 212, 1);
        letter-spacing: 2px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        text-align: center;
        padding-top: 150px;
    }
}

.cards_flex {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}

.cards_flex1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
}

.cards_img1,
.cards_img2,
.cards_img3,
.cards_img4,
.cards_img5 {
    overflow: hidden;
    border-radius: 12px;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.card_item1 {
    width: 482px;
    height: 482px;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    position: relative;
}

.card_item2 {
    width: 482px;
    height: 482px;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    position: relative;
}

.card_itemm {
    width: 482px;
    height: 482px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

.card_item3 {
    width: 376px;
    height: 256px;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    position: relative;
}

.card_item4 {
    width: 376px;
    height: 256px;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    position: relative;
}


.cards_content1,
.cards_content2,
.cards_content3,
.cards_content4,
.cards_content5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    font-family: "Rubik medium";
    font-size: 22px;
    color: rgba(193, 193, 193, 1);
    text-align: center;
}

.cards_content1 p,
.cards_content2 p,
.cards_content3 p,
.cards_content4 p,
.cards_content5 p {
    margin: 0;
    padding: 15px;
}

.card_item1:hover .cards_img1 {
    opacity: 0;
}

.card_item1:hover .cards_content1 {
    display: flex;
    opacity: 1;
}

.card_item2:hover .cards_img2 {
    opacity: 0;
}

.card_item2:hover .cards_content2 {
    display: flex;
    opacity: 1;
}

.card_itemm:hover .cards_img3 {
    opacity: 0;
}

.card_itemm:hover .cards_content3 {
    display: flex;
    opacity: 1;
}

.card_item3:hover .cards_content4 {
    display: flex;
    opacity: 1;
}

.card_item3:hover .cards_img4 {
    opacity: 0;
}

.card_item4:hover .cards_content5 {
    display: flex;
    opacity: 1;
}

.card_item4:hover .cards_img5 {
    opacity: 0;
}

@media (max-width: 1000px) {
    .card_item1 {
        width: 382px;
        height: 382px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img1 {
        width: 382px;
        height: 382px;
    }

    .card_item2 {
        width: 382px;
        height: 382px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img2 {
        width: 382px;
        height: 382px;
    }

    .card_itemm {
        width: 382px;
        height: 382px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img3 {
        width: 382px;
        height: 382px;
    }

    .cards_content1,
    .cards_content2,
    .cards_content3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 63, 68, 1);
    border-radius: 12px;
    font-family: "Rubik medium";
    font-size: 18px;
    color: rgba(193, 193, 193, 1);
    text-align: center;
}
}

@media (max-width: 800px) {
    .card_item1 {
        margin: 0 auto;
        margin-top: 15px;
        width: 300px;
        height: 300px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img1 {
        width: 300px;
        height: 300px;
    }

    .card_item2 {
        margin: 0 auto;
        margin-top: 15px;
        width: 300px;
        height: 300px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .card_item3 {
        margin: 0 auto;
        margin-top: 15px;
        width: 294px;
        height: 200px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img4 {
        width: 294px;
        height: 200px;
    }

    .img5 {
        width: 294px;
        height: 200px;
    }

    .card_item4 {
        margin: 0 auto;
        margin-top: 15px;
        width: 294px;
        height: 200px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img2 {
        width: 300px;
        height: 300px;
    }

    .card_itemm {
        width: 300px;
        height: 300px;
        background-color: rgba(30, 63, 68, 1);
        border-radius: 12px;
        position: relative;
    }

    .img3 {
        width: 300px;
        height: 300px;
    }

    .cards {
        height: 2100px;
    }

    .cards_flex {
        display: contents;
    }

    .cards_flex1 {
        display: contents;
    }

    .cards {
        h2 {
            font-family: "Rubik bold";
            font-size: 35px;
            color: rgba(212, 212, 212, 1);
            letter-spacing: 2px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
            text-align: center;
            padding-top: 150px;
        }
    }
}